@import 'tailwindcss';
@import './base.css';

/* Correct way to use theme variables in tailwind for darkmode 
see: https://github.com/tailwindlabs/tailwindcss/discussions/15083
*/
@variant dark (&:where(.dark, .dark *));
:root {
  --text-fg: #ffffff;

  :where(.dark) {
    --text-fg: #111111;
  }
}
@theme inline {
  --color-fg: var(--text-fg);
}

#app {
  font-family: 'Manrope', sans-serif;
}
.container {
  max-width: clamp(16rem, 80rem, 50%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-lg {
  max-width: clamp(16rem, 70%, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.backdrop {
  z-index: 990;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-outer {
  z-index: 991;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(15rem, 32vw, 20rem);
  height: clamp(10rem, 16vh, 20vh);
  background-color: white;
}
